body{
    background-color: brown;
}

html {
    font-family: sans-serif;
}

cv {
    color: brown;
}  

h1 {
    color: darkcyan;
    margin-bottom: 0.25em;
}

h2 {
    color: darkcyan;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

h3{
    color: darkcyan;
}

a {
    margin-bottom: 20px;
    color: rgb(15, 77, 105);
}

.contact {
    display: flex;
}

.type {  
    min-width: 90px;
}

.skills {
    display: flex;
}

.skills_table {
    font-weight: bold;
    margin-bottom: 2em;
}

img {   
    size:  190px;
}

.code{
    color: blueviolet;
}

footer {
    margin-bottom: 2em;
    font-display: i;
}